* {
    box-sizing: border-box;
    /*border:1px solid black;*/
}

header,footer,main{
    width: 85vw;
    margin: 0;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div#imagens_FICE {
        display: flex;
       justify-content: space-around;

        & > img {
            object-fit: cover;
            width:  40vh;
            height: 100%;
            padding:2vh;
        }
    }
}

header .polygons {
    transform: translate(6.7vw);
}

.polygons > .triangulo01 {
    background-color:green;
    height: 50px;
    width: 99vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.polygons > .triangulo02 {
    background-color: rgb(0, 107, 0);
    width: 95vw;
	height: 4vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
	transform: skewY(2.3deg) translateX(4vw);
	top: 10px;
}


main {
    display:grid;
    justify-content: center;
    margin-inline: 5vw;

    & > p,
        li {
    font-size: 20px;
    padding: 1vh;
    }
}

main div.cabecalho {
    text-align: center;
}

main section {
    columns: 2;
    flex-direction: column;
    padding: 5vh;

    & > div.paragrafos {
        display: flex;
        flex-wrap: wrap;
    }
    
    & >  * {
        padding: 1vh;
    }
    

}

.paragrafo img {
    padding: 2rem;
    width: 30vw;
    object-fit: cover;
    height:100%;
}

